<aside class="main-sidebar">
  <section class="sidebar">
    <ul class="sidebar-menu" data-widget="tree">
      <li class="<%= "active" if controller_name == "home" %>">
        <%= link_to admin_root_path do %>
          <i class="fa fa-dashboard"></i><span>Dashboard</span>
        <% end %>
      </li>

      <% if can? :index, Group %>
        <li class="<%= "active" if controller_name == "groups" %>">
          <%= link_to admin_groups_path do %>
            <i class="fa fa-users"></i><span>Group</span>
          <% end %>
        </li>
      <% end %>

      <% if can? :index, User %>
        <li class="<%= "active" if controller_name == "users" %>">
          <%= link_to admin_users_path do %>
            <i class="fa fa-user"></i><span>User</span>
          <% end %>
        </li>
      <% end %>

      <% if params[:group_id] %>
        <% if can? :index, Category%>
          <li class="<%= "active" if controller_name == "categories" %>">
            <%= link_to admin_group_categories_path do %>
              <i class="fa fa-list"></i><span>Categories</span>
            <% end %>
          </li>
        <% end %>

        <% if can? :index, Transaction %>
          <li class="<%= "active" if controller_name == "transactions" %>">
            <%= link_to admin_group_transactions_path do %>
              <i class="fa fa-money"></i><span>Transactions</span>
            <% end %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </section>
</aside>
