<%= render partial: "backend/shared/alert" %>
<div class="clearfix"></div>

<section class="content listing-wrapper" id="transaction-listing">
  <div class="box">
    <div class="row page-header">
      <h3 class="col-md-11">List Transaction</h3>
      <div class="col-md-1">
        <%= link_to "Add", new_admin_group_transaction_path, 
          class: "btn btn-primary", style: "float: right" %>
      </div>
    </div>
    <div class="clearfix"></div>

    <div class="col-md-12 content-border-bottom">
      <%= render partial: "backend/transactions/search" %>
    </div>
    <div class="clearfix"></div>

    <div class="box-body">
      <% if @transactions.present? %>
        <table class="col-md-12 table table-bordered listing-table">
          <thead>
          <tr>
            <th class="col-md-1">Index</th>
            <th class="col-md-2">Amount</th>
            <th class="col-md-4">Description</th>
            <th class="col-md-2">Category</th>
            <th class="col-md-2">Created at</th>
            <th class="col-md-1">Action</th>
          </tr>
          </thead>
          <tbody>
          <% @transactions.each_with_index do |transaction, index| %>
            <tr>
              <td><%= index + 1 %></td>
              <td>
                <% number = number_to_currency(transaction.amount, unit: "đ ") %>
                <% if transaction.expense? %>
                  <span class="expense">- <%= number %></span>
                <% else %>
                  <span class="income">+ <%= number %></span>
                <% end %>
              </td>
              <td>
                <%= link_to edit_admin_group_transaction_path(group_id: transaction.group_id,
                  id: transaction.id), data: {toggle: "tooltip", "placement": "top",
                  "original-title": "#{transaction.description}"} do %>
                  <%= transaction.description.truncate(45) %>
                <% end %>
              </td>
              <td><%= transaction.category.try(:name) %></td>
              <td><%= format_to_only_date transaction.created_at %></td>
              <td>
                <%= link_to edit_admin_group_transaction_path(group_id: transaction.group_id,
                  id: transaction.id), class: "action-icon edit" do %>
                  <span class="fa fa-edit"></span>
                <% end %>
                <%= link_to "#modal-delete", class: "action-icon remove",
                  data: {toggle: "modal", url: "/admin/groups/#{transaction.group_id}/transactions/#{transaction.id}"} do %>
                  <span class="fa fa-remove"></span>
                <% end %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>

        <div class="text-center">
          <%= paginate @transactions, theme: "twitter-bootstrap-3" %>
        </div>
      <% end %>
      <br>
      <%= render partial: "backend/transactions/result" %>
    </div>
  </div>
</section>
<div class="clearfix"></div>

<%= render partial: "backend/shared/delete", locals: {model_name: "Transaction"} %>
